<div class="main">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
  <div class="container">
  <div class="header">
    <div class="">
    </div>
    <div class="">
    <input type="text" name="query" v-model="searchQuery" value="" placeholder="search for any field">
    </div>
  </div><hr>
  <div class="main">
    <table>
      <thead>
        <tr>
          <th v-for="key in gridColumns" @click="sort(key)" >{{key}}</th>
        </tr>
      </thead>
    
    <tbody>
        <tr v-for="rec in sortedCats">
          <td >{{rec['mode']}}</td>
          <td >{{rec['refno']}}</td>
          <td >{{rec['revison']}}</td>
          <td >{{rec['clientName']}}</td>
          <td >{{rec['duedate']}}</td>
          <td >{{rec['followup']}}</td>
          <td >{{rec['assgnerId']}}</td>
          <td >{{rec['assEngineerId']}}</td>
          <button v-on:click="call(rec)" v-bind:value="hit(rec)" >{{currentrecord}}</button>
        </tr>
      </tbody>
    </table>
    <div align="center" id="page">
    <p>
<button @click="prevPage()">PREVIOUS</button>
<button @click="nextPage()">NEXT</button>
</p>
debug : sort = {{ currentSort }} , dir = {{ currentSortDir }}
  </div>
</div>
  <div class="footer">

  </div>
</div>
  </div>
