<div>
<div>
<form>
<div >
  <select name="">
    <option value="1">QUOTED</option>
    <option value="0">NOT QUOTED</option>
  </select>
</div>
<div>
  <label>Project id</label>
  <select name="">
    <option value="1">QUOTED</option>
  </select>
  <input type="text" name="" value="">
</div>
<div>
  <label>project details</label>
  <input type="text" name="" value="">
</div>
  <div>
    <label>Client Name</label>
    <input type="text" name="" value="">
  </div>
  <div>
    <label>Contact Person</label>
    <input type="text" name="" value="">
  </div>
  <div>
    <label>Contact No</label>
    <input type="text" name="" value="">
  </div>
  <div>
    <label>Email id</label>
    <input type="text" name="" value="">
  </div>
  <div >
    <label>Assigned Engineer</label>
    <input type="text" name="" value="">
  </div>
  <div >
    <label>Mode of Enquiry</label>
    <input type="text" name="" value="">
  </div>
  <div>
    <label>Follow UP Frequency</label>
    <input type="text" name="" value="">
  </div>
  <div>
    <input type="submit" name="" value="REGISTER ENQUIRY">
  </div>
</form>
</div>
</div>
