<div >
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
<div id=wrapper>
  <header >

    <div id="h1">
    <img src="src\renderer\assets\cmpy.png" alt="ccd logo">
</div>
<div id='h2'>
   <p><strong>CCD TECHNICAL SOLUTION</strong></p>
</div>
  </header>

    <div id="main1">
      <input type="text" placeholder='Client Contact Person :'>
    <input type="text" placeholder='Client Company Name :'>
    <input type="text" placeholder='Address line 1 :'>
    <input type="text" placeholder='Address line 2 :'>
  </div>
  </div>
  <div >
    <div class="main2">
      <div class="row">
        <div class='col-25'>
        <label><strong>QUOTE : </strong></label>
      </div>
      <div class='col-75'>
        <input type="text" >
      </div>
        <div class='col-25'>
      <label><strong>PAGE :</strong></label>
    </div>
    <div class='col-75'>
        <input type="text" name="" value="">
      </div>
    </div>

      <div class="row">
        <div class='col-25'>
        <label>DATE : </label>
      </div>
      <div class='col-75'>
        <input type="text" >
      </div>
      <div class='col-25'>
        <label>CONTACT :</label>
      </div>
      <div class='col-75'>
        <input type="text" name="" value="">
      </div>
      <div class='col-25'>
        <label>PHONE : </label>
      </div>
      <div class='col-75'>
        <input type="text" name="" value="">
      </div>
      <div class='col-25'>
        <label>E-MAIL:</label>
      </div>
      <div class='col-75'>
        <input type="text" name="" value="">
      </div>
    </div>
    </div>
    <div class="">

    </div>
  </div>
<br>
  <div id="app">
    <table class="table" border=0>
           <thead>

         <th><strong>POS..</strong></th>
                   <th><strong>HSN / SAC</strong></th>
                   <th><strong>DESCRIPTION</strong></th>
                   <th><strong>QTY</strong></th>
                   <th> <strong>UOM</strong> </th>
                   <th> <strong>UNIT PRICE</strong> </th>
                   <th> <strong>AMOUNT</strong> </th>

           </thead>

           <tbody align='center'>
               <tr v-for="(row, index) in rows" align='center'>
         <td><label>{{index}}</label> </td>
                   <td ><input type="text" v-model="row.hsn"></td>
                   <td> <input type="text" name="" value="">
                      <textarea name="name" rows="4" cols="40"></textarea> </td>
                   <td><input type="text"v-model="row.qty"></td>
                   <td> <input type="text" > </td>
                   <td> <input type="text" v-model="row.unit"> </td>
                   <td> <label> <strong> {{(parseFloat(parseFloat(row.unit) * parseFloat(row.qty))).toString().replace(/(\d)(?=(\d\d)+\d$)/g, "$1,")}} </strong> </label> </td>
                  <td > <a class="remove"  v-on:click="removeElement(index);" style="cursor: pointer">Remove</a>
               </td>
               </tr>
           </tbody>
       </table>
       <hr>
       <div id='base'class='remove'>
           <button  class="btn btn-primary btn-lg" @click="addRow">Add Row</button>
     <input class="btn btn-secondary btn-lg" type="submit" @click="hit" value="SUBMIT">
       </div>
    </div>
  <div class="footer1">
    <div class="">

    </div>
    <div class="">

    </div>
  </div>
</div>
</div>
