<div >
<div id=wrapper>
  <header >

    <div id="h1">
    <img src="src\renderer\assets\cmpy.png" alt="ccd logo">
</div>
<div id='h2'>
   <p><strong>ccd technical solutions</strong></p>
</div>
  </header>

    <div id="main1">
      <input type="text" placeholder='Client Contact Person :'>
    <input type="text" placeholder='Client Company Name :'>
    <input type="text" placeholder='Address line 1 :'>
    <input type="text" placeholder='Address line 2 :'>
  </div>
  </div>
  <div >
    <div class="main2">
      <div class="row">
        <div class='col-25'>
        <label><strong>QUOTE : </strong></label>
      </div>
      <div class='col-75'>
        <input type="text" >
      </div>
        <div class='col-25'>
      <label><strong>Page :</strong></label>
    </div>
    <div class='col-75'>
        <input type="text" name="" value="">
      </div>
    </div>

      <div class="row">
        <div class='col-25'>
        <label>Date : </label>
      </div>
      <div class='col-75'>
        <input type="text" >
      </div>
      <div class='col-25'>
        <label>Contact :</label>
      </div>
      <div class='col-75'>
        <input type="text" name="" value="">
      </div>
      <div class='col-25'>
        <label>PHONE : </label>
      </div>
      <div class='col-75'>
        <input type="text" name="" value="">
      </div>
      <div class='col-25'>
        <label>E-MAIL:</label>
      </div>
      <div class='col-75'>
        <input type="text" name="" value="">
      </div>
    </div>
    </div>
    <div class="">

    </div>
  </div>
<br>
  <div id="app">
    <table class="table">
           <thead>

         <th><strong>Pos.</strong></th>
                   <th><strong>HSN / SAC</strong></th>
                   <th><strong>Description</strong></th>
                   <th><strong>Qty UOM</strong></th>
                   <th> <strong>Unit Price</strong> </th>
                   <th> <strong>Amount</strong> </th>

           </thead>
           <hr>
           <tbody>
               <tr v-for="(row, index) in rows">
         <td><label>{{index}}</label> </td>
                   <td><input type="text" v-model="row.hsn"></td>
                   <td><input type="text" v-model="row.description"></td>
                   <td><input type="text" v-model="row.qty"></td>
                   <td> <input type="text" v-model="row.unit"> </td>
                   <td> <input type="text" v-model="row.amount"> </td>
                   <td> <a  v-on:click="removeElement(index);" style="cursor: pointer">Remove</a>
               </td>
               </tr>
           </tbody>
       </table>
       <hr>
       <div id='base'>
           <button class="button btn-primary" @click="addRow">Add row</button>
     <input class="a2" type="submit" @click="hit" value="submitted button">
       </div>
    </div>
</div>
</div>
