
<div class='whole'>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
<div id="form" >
  <form enctype='multipart/form-data' v-on:submit.prevent="onSubmit"  class="container" action = '/assign' method='post'>
  <p style="margin:1%;align-items:center;justify-content:center;display:flex"><b>FORM1 ENQUIRY HANDLING</b></p>
<hr>
    <div class='row'>
     <div class="col-25">
    <label><strong>Mode Of Enquiry</strong></label>
  </div>
  <div class="col-75">
    <select v-model="full.mode">
      <option value="Tender">TENDER</option>
      <option value="Project">PROJECT</option>
    </select>
  </div>
  </div>
  <div class="row">
    <div class="col-25">
    <label><strong>Client Type</strong></label>
  </div>
  <div class="col-75">
  <select v-model="full.cust">
    <option value=0>NEW</option>
    <option value=1>EXISTING</option>
  </select>
  </div>
  </div>
  <div class="row" >
    <div class="col-25">
    <label><strong>Client Name</strong></label>
  </div>
  <div class="col-75" >
    <input type="text" name="" v-model="full.cname" v-if="full.cust==0">
    <div class="" v-if="full.cust==1">
      <select v-model="full.cname">
          <option v-for="custom in full.customerObj" v-bind:value="custom.Cname">{{custom.Cname}}</option>
      </select>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-25">
  <label><strong>Project Detail</strong></label>
</div>
<div class='col-75'>
  <input type="text" v-model="full.detail">
</div>
</div>
<div class="row">
  <div class="col-25">
  <label><strong>Project Type</strong></label>
</div>
<div class="col-75">
<select v-model="ptype">
  <option value='S'>Trading</option>
  <option value='P'>Project</option>
</select><br>
</div>
</div>
<div class="row">
  <div class="col-25">
  <label><strong>Offer Number</strong></label>
</div>
  <div class="col-75">
    <input type="text" readonly v-model="full.offerno">
  </div>
</div>
<div class='row'>
  <div class="col-25">
  <label><strong>Revision Number</strong></label>
</div>
  <div class="col-75">
    <input type="text" readonly v-model="full.revno">
  </div>
</div>
  <div class="row">
    <div class="col-25">
    <label><strong>Due Date</strong></label>
  </div>
  <div class="col-75">
    <input type="date" name="pass" id="pass" v-model="full.date1"><br><br>
  </div>
  </div>
  <div class="row">
    <div class="col-25">
    <label><strong>Assign Engineer</strong></label>
  </div>
  <div class="col-75" >
      <select v-model="full.uname">
          <option v-for="user in full.userObj" v-bind:value="user">{{user.Name}}</option>
      </select>

  </div>
</div>
  <div class="row">
    <div class="col-25">
    <label><strong>Follow Up Frequency</strong></label>
  </div>
  <div class="col-75">
    <select v-model="full.follow">
      <option value="Twice a Day">Twice a Day</option>
      <option value="Once a Day">Once a Day</option>
      <option value="Twice a Week">Twice a Week</option>
      <option value="Once a Week">Once a Week</option>
    </select>
  </div>
</div>
<label style="margin-left:40%"><strong>FILE UPLOAD</strong></label>
  <div class='row'>
    <div class='col-25'>
  <label><strong>Client Correspondence</strong></label>
</div>
<div class='col-75'>
<input class="btn btn-outline-secondary" type="file" id="client">
</div>
</div>

<div class='row'>
  <div class='col-25'>
<label><strong>BOQ</strong></label>
</div>
<div class='col-75'>
<input class="btn btn-outline-secondary" type="file" id="boq">
</div>
</div>
<div class='row'>
  <div class='col-25'>
<label><strong>VENDOR QUOTE</strong></label>
</div>
<div class='col-75'>
<input class="btn btn-outline-secondary" type="file" id="vendor">
</div>
</div>

<div class='row'>
  <div class='col-25'>
<label><strong>Other Upload</strong></label>
</div>
<div class='col-75'>
<input class="btn btn-outline-secondary" type="file" id="other">
</div>
</div>
<div id="last">
  <div>
<input type="submit" class="col-50" name="button" id='btn10' value="Assign Enquiry" v-on:click.prevent="assign()">
</div><div>
    <input type="submit"  class="col-50" name="button" id="btn3" style="background:red" value="Regret Message" v-on:click="think()">
</div></div>
</form>
<!--
<input type="submit"  class="col-30" name="button" id="btn8" style="background:red" value="open a file" v-on:click="think1()">
-->
</div>
</div>
