<div>
  <div class="header">
    <div class="">
      <img src="src\renderer\assets\cmpy.png" alt="">
    </div>
    <div class="">
      <h2>ENQUIRY / OFFER REVIEW</h2>
    </div>
    <div class="">

    </div>
  </div>
  <hr>
  <div>
  <table class="table" border=1>
         <thead>

       <th><strong>Offer No.</strong></th>
                 <th><strong>Revision & Date</strong></th>
                 <th><strong>Tentative Contractual Start Date</strong></th>
                 <th><strong>Contractual Completion Date</strong></th>
         </thead>

         <tbody>
           <tr>
             <td> <input type="text" name="" value=""> </td><td> <div class="">

             </div> </td><td> <div class="">

             </div> </td><td> <div class="">

             </div> </td>
           </tr>
             <tr>
                <td> <strong>Project :</strong> </td>
                 <td> </td>
             </tr>
             <tr>
                <td> <strong>Client / Consultant :</strong> </td>
                 <td> </td>
             </tr>
             <tr>
                <td> <strong>End User  :</strong> </td>
                 <td> </td>
             </tr>
             <tr>
                <td> <strong>Type:</strong> </td>
                 <td> </td>
                 <td><strong>Value:</strong></td>
             </tr>
         </tbody>
     </table>
   </div>
   <div class="">
     <table class="table" border = 1>
            <thead>

          <th><strong>S.No .</strong></th>
                    <th><strong>Item Description</strong></th>
                    <th><strong>Scopep</strong></th>
                    <th><strong>Remarks</strong></th>
            </thead>

            <tbody>
                <tr v-for="(row, index) in rows">
          <td><label>{{index}}</label> </td>
                    <td><input type="text" v-model="row.hsn"></td>
                    <td><input type="text" v-model="row.description"></td>
                    <td><input type="text" v-model="row.qty"></td>
                    <td> <input type="text" v-model="row.unit"> </td>
                    <td> <input type="text" v-model="row.amount"> </td>
                    <td> <a  v-on:click="removeElement(index);" style="cursor: pointer">Remove</a>
                </td>
                </tr>
            </tbody>
        </table>
   </div>
</div>
